[build-system]
build-backend = "hatchling.build"
requires = [ "hatchling" ]

[project]
name = "symlink-dotfiles"
version = "0.1.0"
description = "Fast symlink management for dotfiles"
requires-python = ">=3.10"
classifiers = [
  "Private :: Do Not Upload",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dependencies = [  ]

scripts.symlink-dotfiles = "symlink_dotfiles.cli:main"

[tool.hatch.build.targets.wheel]
packages = [ "src/symlink_dotfiles" ]

[tool.hatch.build.targets.sdist]
include = [ "src/**/*.py" ]
